* {
	box-sizing:border-box;
}
/*html {
	font-size: calc(12px + 0.390625vw);
}*/
body {
	margin:0px;
	font-family:verdana;
	min-height: 100%;
}
#header_div {
	background-color:black;
	color:white;
	font-size: calc(13px + 0.390625vw);
}
.header_boxes {
	border:1px solid none;
	display:inline-block;
	margin-right: 1%;
	margin-top:1%;
	width:22%;
	padding:1% 0;

	}
.box2 {
	text-align:right;
}
#logo1 {
	color:dodgerblue;
	font-size:20px;
	}
#logo2 {
	color:red;
	font-size:20px;
}
#users {
	color:red;
}
#signin {
	position:relative;
}
#dropdown_btn {
	border:none;
}
.dropdown_link {
	display:none;
	position:absolute;
	background:#f1f1f1;
	width:100%;
	color:black;
	border:1px solid none;
}
.dropdown_link a {
	color:black !important;
	padding:1%;
	display:block;
}
#search {
	margin-left:2%;
	border:2px solid none;
	width:50%;
	align:center;
}
#search_bttn {
	background-color:dodgerblue;
	border:none;
	padding:8px 5px;
	color:white;
	margin-left:0px;
	margin-left:none;
	width:auto;
	cursor:pointer;
}
#search_txt {
	color: grey;
	padding:8px 5px;
	border:1px solid lightgrey;
	margin-right:none;
	width:auto;
}
#img_div {                                     width:100%;                            height:auto;                   }                                      #img_div img {                                 width:100%;                    }                                      .details_one {                                 position:relative;                     border:2px solid none;                 margin:0px;                            height:auto;                   }
#text_div {
        position:absolute;
        border:1px solid none;
        top:0;
        left:0;
        width:40%;
        padding:1% 4%;
        height:100%;                           background:rgba(255,255,255,0.7);                                             color:black;                   }                                      #text_div a {                                  color:white !important;                text-decoration:none;          }
#shop_now {                                    font-weight:bold;                      color:white;                           background:orange;
	font-size:4vw;
        padding:2% 3%;                         border:none;                           width:70%;                     }
#flex_text {
	color:navy;
	font-size:3vw;
	font-weight:bold;
}
#container {
	height: auto;
	padding:3%;
	border: 1px solid lightgrey;
	background: rgba(45, 56, 100, 0.2);
}
#menu_div {
	background-color: rgb(65, 26, 100);
	padding: 5px;
	color:white;
}
#menu_bar_list {
	padding-left: 0px;
}
#menu_bar_list li {
	list-style-type:none;
	display:inline-block;
	padding 20px;
	margin-right:20px;
}
.top_heading {
	font-size:4vw;
	background:darkorange;
	padding:1% 5%;
	color:white;
	font-weight:bold;

}
/*.product_display {
	background: rgba(45, 56, 100, 0.2);
}*/
.product_div {
	width:50%;
	height:260px;
	border:1px solid lightgrey;
	text-align:center;
	/*display:inline-block;*/
	float:left;
	margin-right:0%;
	margin-top:2%;
	background: white;
}
.product_image {
	width:100%;
	height:62%;
	border:2px solid none;
}
.product_img_box {
	width:100%;
	height:100%;
	object-fit:contain;
}
.product_div_text {
	height:38%;
	border:1px solid none;
	padding:1%;
}
.product_text {
	font-size:13px;
	color:grey;
}
.currency {
	color:darkorange !important;
	font-weight:bold;
}
.product_price {
	font-weight:bold;
	color:darkorange;
}
#closing_text1 {
	color:navy;
	font-size:5vw;
	margin:auto;
	padding:5%;
	text-align:center;
}
#closing_text2 {
	color:dodgerblue;
	font-size:3vw;
	padding:5%;
        margin:auto;                           text-align:center;             }
#welcome_div {
	padding:1% 3%;
	border:2px solid none;
}
.form_container {
	text-align:center;
	border:2px solid lightgrey;
	width:60%;
	margin:auto;
	background:lightyellow;
	border-radius:10px;
	box-shadow:2px 4px;
}
#sign_in_form {
	border:1px solid none;
	width:90%;
	height:auto;
	margin:auto;
	border-radius:5px;
}
#sign_up_form {
	display:none;
}
input {
	padding:10px;
	width:80%;
	margin:auto
}
.form_submit_btn {
	border:none;
	padding:5px 8px;
	background-color:orange;
	margin:auto;
	color:black;
	width:80%;
}
#sign_up, #sign_in {
	border:none;
	background:none;
}
#form_error {
	color:red;
	border:1px solid none;
}
#feedback_msg {
	color:#50C878;
	margin:auto;
}
#cart_container {
	margin:2%;
}
#cart_details {
	border:1px solid none;
	/*position:relative;
	height:200px;*/
}
.cart_details_box {
	border:1px solid none;
	float:left;
}
.cart_item {
	border:1px solid none;
	float:left;
}
.cart_item_image {
	width:20%;
	border:1px solid none;
}
.cart_image {
	width:100%;
	object-fit:fill;
}
.cart_item_desc {
	width:50%;
}
.cart_item_price {
	width:20%;
	text-align:right;
}
.cart_items_div {
/*	width:60%;
	margin-right:2%;*/
	margin-top:0px;
	/*position:absolute;
	top:0;*/
}
.details_box {
	width:62%;
	border-right:1px solid lightgrey;
	padding:1%;
}
hr {
	border:1px solid lightgrey;
	margin:2% 3%;
}
.cart_summary {
	width:30%;
	/*position:absolute;*/
	float:right;
	border:1px solid lightgrey;
	padding:0px 3px;	
	border-radius:5px;
}.
.bottom_bttns {
	display:inline-block;
}
.bottom_bttns input {
	width:25px;
	height:25px;
	padding:0px;
}
#delete_item {
	float:right;
	border:none;
	color:red;
	background:none;
	top:5;
}
#delete_item a {
	color:red;
	text-decoration:underline;
}
#checkout_btn {
	border: none;
	background:dodgerblue;
	padding:2% 4%;
	border-radius:5px;
	color:white;
	font-weight:bold;
	width:90%;
	margin:auto;
}

#cart_empty_div {
	width:80%;
	margin:auto;
	text-align:center;
}
.cart_page_btns {
	border:1px solid dodgerblue;
	padding:1% 4%;
	border-radius:10px;
}
._one {
	background:white;
	color:dodgerblue;
}
._one a:link, ._one a:visited {
	color:dodgerblue !important;
}
._two {
	background:dodgerblue;
}
._two a:link, ._two a:visited {
	color:white;
}
a {
	text-decoration:none;
}
a:link, a:visited {
	color:white;
}
#product_container {
	padding:2%;
	background:lightgrey;
}
.product_display {
	height:auto;
	background:white;
	/*float:left;*/
	border:1px solid none;
}
.product_display_div {
	background:white;
}
.product_spec, .related_products{
	background:white;
	padding:2% 4%;
	font-size: calc(12px + 0.390625vw);
}
.cart_product_display {
	float:left;
	background:white;
}
.product_div {
	float:left;
}
.product_text a:link, .product_text a:visited {
	color:black;
}
.image_display_div {
	width:35%;
	border-bottom:1px solid none;
	margin-right:3%;
}
.text_display_div {
	width:60%;
	font-size:2vw;
	border-left:5px solid lightgrey;
	padding:0% 3%;
}
.text_display_div input {
	font-size:2vw;
	width:30px;
	height:30px;
	padding:0px;
}
.cart_div_price {
	font-weight:bold;
	font-size:3vw;
}
#add_to_cart {
	background:darkorange;
	border:none;
	color:white;
	padding:3%;
	width:100%;
	font-weight:bold;
	border-radius:5px;
}
#buy_now {
	background:white;
	padding:3%;
	color:dodgerblue !important;
	width:80%;
	border-radius:10px;
	border:1px solid dodgerblue;
}
#buy_now a {
	color:dodgerblue !important;
}
.bottom_bttns {
	display:inline-block;
}
#shipping_info_form {
	border:1px solid grey;
	width:100%;
	height:100%;
	overflow:auto;
	margin:auto;
	text-align:center;
	display:none;
	position:fixed;
	z-index:1;
	top:0;
	background:rgba(0,0,0,0.4);
}
#shipping_form {
	margin:15% auto;
	padding:3%;
	width:60%;
	background:lightyellow;
}
#top {
	color:darkred;
	padding:2%;
}
#shipping_btn {
	background:dodgerblue;
	border:none;
	color:white;
	padding:3%;
}
.close {
	font-weight:bold;
	float:right;
	font-size:28px;
}
#checkout_container {
	border:1px solid none;
	padding:3%;
}
.checkout_div {
	float:left;
}
.checkout_details {
	width: 55%;
	border:1px solid none;
	border-radius:5px;
	margin-right:2%;
}
.checkout_summary {
	border:1px solid lightgrey;
	border-radius:5px;
	width:35%;
	padding:1% 3%;
}
#paypal_btn {
	background:dodgerblue;
	color:white;
	border:none;
	padding:3%;
	margin:auto;
}
#payment_type_form {
	border:1px solid lightgrey;
	border-radius:5px;
	padding:1% 3%;
}
#payment_type_form input {
	width:auto;
}
#disclaimer {
	font-size:12px;
}
#disclaimer a:link {
	color:dodgerblue;
}
.price_column {
	text-align:right;
	font-weight:bold;
}
#order_total {
	font-weight:bold;
	font-size:18px;
	color: darkred;
}
#checkout_address, #checkout_review {
	border:1px solid lightgrey;
	border-radius:5px;
	padding:1% 3%;
}
footer {
	background-color: black;
	color:white;
	padding:2%;
	}
footer ul {
	list-style-type:none;
}
#footer_note {
	text-align:center;
}

@media only screen and (min-width: 600px) {
	.product_div {
		width:25%;
		height:310px;
	}
	.product_image {
		height:67%;
		border:1px solid none;
	}
	.product_div_text {
		height:33%;
		border:1px solid none;
	}
	/*.cart_product_display {
		float:left;
	}*/
}
