* {
	box-sizing:border-box;
}
body {
	min-height:100%;
	margin:0px;
	font-family:verdana;
}
#img_div {
	width:100%;
	height:auto;
}
#img_div img {
	width:100%;
}
.details_one {
	position:relative;
	border:2px solid none;
	margin:0px;
	height:auto;
}
/*.details_two {
	background:none;
	padding:3% 5%;
}*/
.heading_text {
	color:orange;
	text-align:center;
	width:100%;
	background:navy;
	font-weight:bold;
	margin:auto;
	font-size:5vw !important;
}
#text_div {
	position:absolute;
	border:1px solid none;
	top:0;
	left:0;
	width:40%;
	padding:1% 4%;
	height:100%;
	background:rgba(255,255,255,0.7);
	color:black;
}
#text_div a {
	color:white !important;
	text-decoration:none;
}
/*.divs {
	border:1px solid lightgrey;
	float:left;
	width:29%;
	margin:0% 2%;
	border-radius:10px;
	background:white;
	padding:3%;
	height:400px;
}*/
.container {
	min-width:100% !important;
	border:2px solid none;
	margin:0px !important;
}
.col-sm-4 {
	border:1px solid none;
	margin-left:0%;
	border-radius:10px;
	padding:3%;
	width:30%;
}
.image_box {
	width:50%;
	/*height:200px;*/
	border:1px solid none;
	margin:auto;
}
.image_box img {
	width:100%;
	height:100%;
	object-fit: fill;
}
.about_section {
	background:navy;
	padding:3%;
	color:white;
}
#menu_div {
	background:black;
	color:white;
	margin:0px;
}
#menu_div li {
	float:left;
}
ul {
	list-style-type:none;
}
a {
	text-decoration:none;
}
li a {
	padding:16px;
	text-align;
	text-align:center;
	display:block;
	color:white;
}
#shop_now {
	font-weight:bold;
	color:white;
	background:orange;
	padding:1% 3%;
	border:none;
	width:70%;
}
#flex_text {
	color:navy;
	font-size:3vw;
	font-weight:bold;
}
#logo_div {
	width:40px;
	height:40px;
}
#logo {
	width:100%;
	object-fit:fill;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-instagram {
	background:dodgerblue;
	color:white;
}
footer {
	margin:0px;
	background:black;
	padding:5%;
	text-align:center;
	color:white;
}

@media only screen and (max-width: 600px) {
	.details_one {
		height:200px;
	}
	#img_div {
		height:200px;
		border:2px solid none;
	}
	#img_div img {
		object-fit:fill;
		height:100%;
	}
	.details_one button {
		padding:0px;
	
	}
	#text_div {
		width:50%;
	}
}
