<!DOCTYPE html>
<html lang="en">
	<head>
		<title>buyit</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" type="text/css" href="../static/styles/styles.css" /> 
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>
	<body>
		<div id="body container">
			<div id="menu_div">
				<ul>
					<li><a href="#">How it works</a></li>
					<li><a href="#">About us</a></li>
				</ul>
				<div style="clear:both;"></div>
			</div>
			<div class="details_one">
				<div id="img_div"><img src="../static/images/images_38.jpeg"></img></div>
				<div id="text_div">
					<div id="logo_div"><img id="logo" src="../static/images/cart4.jpeg" /></div>
					<span style="font-size:2vw;color:darkred;font-weight:bold;">buyIT</span><br>
					<p id="flex_text">Everything you need delivered right to your door</p>
					<p style="font-size:2vw;">Enjoy a great user experience</p>
					<button id="shop_now"><a href="#">Shop Now!</a></button>
				</div>
			</div>
			<br><br>
			<p class="heading_text">How it Works</p>
			<div class="container details_two">
				<div class="row" style="width:2px solid green;">
				<div class="col-sm-4 divs div_one"><div class="image_box"><img src="../static/images/images6.png"></img></div><h3>Sign Up</h3><p>Sign up to start shopping of sign in if you already have an account</p></div>
				<div class="col-sm-4 divs div_two"><div class="image_box"><img src="../static/images/Cart-PNG-Clipart.png"></img></div><h3>Add to cart</h3><p>Add products to cart when you select them</p></div>
				<div class="col-sm-4 divs div_three"><div class="image_box"><img src="../static/images/images_8.png"></img></div><h3>Checkout</h3><p>Provide your shipping address, checkout your cart items, and receive them right at your doorstep</p></div>
			</div>
			</div>
			<br><br>
			<div class="about_section">
				<p class="heading_text">About us</p>
				<p>This is portfolio project for an e-commerceshopping platform. We offer a great user experience</p>
				<p>The github repository for this project can be found at ...</p>
				<h3>Follow us on:</h3>
				<a href="https://www.facebook.com" class="fa fa-facebook"></a>
				<a href="https://www.twitter.com" class="fa fa-twitter"></a>
				<a href="https://www.twitter.com" class="fa fa-instagram"></a>
				<a href="https://github.com/joyogbu/buyIT">github</a>
			</div>
		</div>
		<footer>
			<p>copyright @ buyIT.com</P>
	</body>
</html>
